
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&family=Roboto:wght@100&display=swap');

*{
    font-family: 'Poppins';
    background-color: #fffefe;
    color:rgb(12, 12, 12);
    margin:0;
    padding:0;

}

.maxWidth{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
.heading{
    text-align: center;
}
.header{
    position:fixed;
    top:0;
    right:0;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 8px 0px;
    box-shadow: 10px 0px 30px 5px rgb(208, 205, 205);
    z-index: 1;
    background-color: rgb(255, 255, 255);

    
}
.nav_items ul{
    list-style-type: none;
    display:flex;
    margin-right: 50px;
    gap: 1rem;
    align-items: center;
   
}
.login_logout{
   border: 1px solid black;
   padding: 5px 15px;
}
.nav_items ul li{
    font-weight: 500;
    cursor: pointer;
    
}
.nav_items ul li a{
    text-decoration: none;
    color: #000000dd

}
.nav_items ul li a:hover{
    background-color: #ee900b;
    padding: 3px 8px;
    color:white;
    transition: all 1s ease-out;
    border-radius: 5px;
    
}
.logo_container{
    display:flex;
    align-items: center;
}
.logo_container h1{
    font-size: 1.5rem;
}
.header .logo_container .logo{
    width: 60px;
    margin-left: 50px;
}

.Body{
    margin-top: 8rem;
    display:flex;
    flex-direction: column;
    gap: 1rem;
}


.resturant_container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
}

.res-card{
    width: 270px;
    height: 300px;
    padding: 10px;
    gap: 1.2rem
}
.res-card .card_list_items li {
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;

}

.res-card .card_list_items >:nth-child(2){
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
}
.res-card .card_list_items >:nth-child(4),
.res-card .card_list_items >:nth-child(5){
    font-family: Poppins;
    font-size: 15px;
    font-weight: 300;
    color: #3b3a3a;
    
}
.res-card .card_list_items {
    display:flex;
    flex-direction: column;
    gap: 2px;
}
.res-card:hover{
    padding: 15px;

}
.res-card img{
    width: 100%;
    height:180px;
    object-fit: cover;
    border-radius: 20px;
}

.card_list_items{
    list-style-type: none;
}
.rating-box >.rating_image{
    display: block;
    width: 12px;
    height: 12px;
    background-color: green;
    border-radius: 50%;
    padding: 4px;
   
}
.rating-box{
    display:flex;
    align-items: center;
    gap: 5px;
}

.button_container{
    display:flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.submit_button{
    padding: 5px 10px;
}
.search_bar > input[type="text"]{
    padding: 5px;
    width: 300px;

}
.button_container .top_res{
    font-size: 1rem;
    padding: 5px;
    border:none;
    background-color: #eaa84d;                
    color: white;

}
.shimmer{
    margin-top: 8rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.shimmer .shimmer-list-items {
    list-style-type: none;
}
.shimmer_card{
    width: 270px;
    height: 300px;
    padding: 10px;
    gap: 1rem
}
.shimmer_card .image_box{
    width: 100%;
    height: 180px;
    background-color: rgb(240, 236, 236);
}
.shimmer_card .shimmer-list-items >:nth-child(1),
.shimmer_card .shimmer-list-items >:nth-child(2),
.shimmer_card .shimmer-list-items >:nth-child(3),
.shimmer_card .shimmer-list-items >:nth-child(4),
.shimmer_card .shimmer-list-items >:nth-child(5){
    background-color: rgb(240, 236, 236);
    margin-top: 6px;
}

.shimmer_card .shimmer-list-items >:nth-child(2){
    width: 100%;
    height: 12px;
    background-color: rgb(240, 236, 236);
}

.shimmer_card .shimmer-list-items >:nth-child(3){
    width: 80%;
    height: 12px;
    background-color: rgb(240, 236, 236);
}

.shimmer_card .shimmer-list-items >:nth-child(4){
    width: 60%;
    height: 12px;
    background-color: rgb(240, 236, 236);
}

.shimmer_card .shimmer-list-items >:nth-child(5){
    width: 40%;
    height: 12px;
    background-color: rgb(240, 236, 236);
}

.about_container{
    margin-top: 160px;
}
.about_page{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.about_image_container{
    width: 600px;
}
.about_image_container img{
    width: 100%;
}
.about_page_heading{
    font-size: 2rem;
    font-weight: 600;
}
.about_page_subheading{
    font-size: 5rem;
    font-weight: 800;
    color:#ee900b;
    margin-top: -1.5rem;
}

/* Error Page Design */
.error_page h2{
    margin-top: 90px;
}

/* contact Page Stylng Starts */
.contact_container{
    margin-top: 100px;
}

/* menu styling starts */



.resturant_info_maxWidth{
    max-width: 800px;
    margin: 130px auto auto auto;
    padding: 10px;
}

.resturant-info{
    display:flex;
    justify-content: space-between;
}
.resturant-info > .food_info{
    display:flex;
    flex-direction: column;
}
.ratings_container{
    border: 1px solid grey;
    padding: 10px;
    display:flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    
}

.ratings_container .food_rating img{
    width: 15px;
    
}

.ratings_container .food_rating{
    display:flex;
    align-items: center;
    justify-content: center;
}

.ratings_container>:nth-child(2){
   height: 2px;
   width: 100%;
   background-color: rgb(172, 164, 164);
}


.ratings_container>:nth-child(3){
    font-size: 8px;
    font-weight: 600;
    color: grey;
}

.ratings_container .food_rating>:nth-child(2){
    font-size: 15px;
    font-weight: 700;
    color: green;
}

.resturant-info .food_info>:nth-child(1){
    font-size: 1.2rem;
    font-weight: 600;
}
.resturant-info .food_info>:nth-child(2),
.resturant-info .food_info>:nth-child(3){
    font-size: 10px;
}

/* 
offer container styling starts */

.offer_container>:nth-child(1){
    height: 1px;
    width: 100%;
    border-bottom: 1px dotted grey;
    margin-top: 2rem;
}

.resturant-info{
    border-bottom: 1px dotted grey;
    padding-bottom: 2rem;
}
.offer_box{
    border: 1px solid grey;
    padding: 1rem;
    border-radius: 10px;
    min-width: 220px;
    font-size: 15px;
    font-weight: 600;
}

.offer_box>:nth-child(1){
    display:flex;
    gap: 5px;
}



.offer_box>:nth-child(1) img{
    width: 20px;
    height: 20px;
}
.offer_box>:nth-child(2){
    color:grey;
}
.offers_container{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    margin-bottom: 1rem;

}
.offers_container::-webkit-scrollbar{
    width: 0px;
}


/* combo section design starts */
.Combos_container .title{
    font-size: 1.2rem;
    font-weight: 600;
}

.combo_food_data{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    margin-bottom: 1.5rem;
}

.combo_food_data>:nth-child(3){
    height: 1px;
    background-color: grey;
}
.combo_food_data>:nth-child(1) p{
   display: flex;
   flex-direction: column;
}
.combo_food_data .name_price_container{
    display: flex;
    flex-direction: column;
}


.image_Secttion img{
    width: 180px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}

.image_Secttion>:nth-child(2){
    position: relative;
    top: -20px;
    border: 1px solid green;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    background-color: white;
    color: green;
    border-radius: 5px;
    padding: 5px 0px;
    box-shadow: 1px 1px 10px 3px rgb(236, 233, 233);

}

.name_price_container>:nth-child(3){
    margin-top: 1rem;
    font-size: 14px;
    font-weight: 200;
    color:#5f5e5d
}
.name_price_container>:nth-child(1){
    font-weight: 600;
    color:#161515
}
.name_price_container>:nth-child(2){
    font-weight: 300;
    color:#161515;
    font-size: 14px;
}